<div class="p-field p-col-12 p-md-4">
  <p><strong>Resumo Mensal</strong></p>
  <p-calendar 
      id="mes_ano" 
      [(ngModel)]="mes_ano" 
      view="month" 
      dateFormat="mm/yy" 
      [yearNavigator]="true" 
      yearRange="2010:2030"
      (onSelect)=carregaGrafico()>
  </p-calendar>
</div>
<div *ngIf="loading" class="p-d-flex p-jc-center p-ai-center" style="text-align: center;">
    <p-progressSpinner></p-progressSpinner>
</div>    
<div class="card flex justify-content-center">
    <p-chart *ngIf="!loading" type="pie" [data]="data" [options]="options"></p-chart>
</div>