<p-toolbar>
    <div class="p-toolbar-group-start" style="align-items: center; display: flex;">
        <span style=" color: rgb(33, 150, 243); font-weight: 600; font-size: 1.5rem;">Silver Finanças</span>
    </div>

    <div class="p-toolbar-group-end">
        <span style="margin-right: 10px;">André Motter</span>
        <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="large"[style]="{ 'background-color': '#2196F3', color: '#ffffff' }"></p-avatar>
    </div>
</p-toolbar>

<router-outlet></router-outlet>