<div style="margin-top: 20px;"></div>
<p-fieldset icon="pi pi-pencil" legend="Gerenciamento de Pessoas">
  
  <div class="grid">
    <div class="col-2">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input placeholder="Nome" type="text" (keydown.enter)="listarPessoas()" pInputText [(ngModel)]="fil_nome" />
      </span>
    </div>
    <div class="col-2">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input placeholder="Cpf/Cnpj" type="text" (keydown.enter)="listarPessoas()" pInputText [(ngModel)]="fil_cpf" />
      </span>
    </div>
  </div>

  <div class="grid">
    <div class="col-12 flex justify-content-end">
      <button pButton type="button" label="Adicionar Pessoa" icon="pi pi-plus" (click)="abrirModal()"></button>
    </div>
  </div>

  <div class="card">
    <div *ngIf="loading" class="p-d-flex p-jc-center p-ai-center" style="text-align: center;">
      <p-progressSpinner></p-progressSpinner>
    </div>    
    <p-table *ngIf="!loading" [value]="pessoas" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Ativo</th>
          <th>Data de Nascimento</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pessoa>
        <tr>
          <td>{{ pessoa.pes_codigo }}</td>
          <td>{{ pessoa.pes_nome }}</td>
          <td>{{ pessoa.pes_cpf }}</td>
          <td>{{ pessoa.pes_email }}</td>
          <td>{{ pessoa.pes_ativo ? 'Sim' : 'Não'}}</td>
          <td>{{ pessoa.pes_data_nascimento | date:'dd/MM/yyyy'}}</td>
          <td>
            <button pButton type="button" icon="pi pi-pencil" label="Editar" class="p-button-rounded p-button-success p-mr-3" (click)="editar(pessoa.pes_codigo)"></button>
            <button pButton style="margin-left: 10px;" type="button" icon="pi pi-trash" label="Excluir" class="p-button-rounded p-button-danger" (click)="confirmarExclusao(pessoa.pes_codigo)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="card flex justify-content-left">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>
    </div>
  </div>
</p-fieldset>

<p-dialog header="Incluir/Alterar Pessoa" [(visible)]="displayModal" [modal]="true" [responsive]="true"
  [style]="{width: '50vw'}">
  <form #pessoaForm="ngForm">
    <div class="p-fluid">
      <div class="p-field">
        <label for="nome">Nome</label>
        <input type="text" id="nome" pInputText [(ngModel)]="pessoa.pes_nome" name="nome" required />
      </div>
      <div class="p-field">
        <label for="login">Login</label>
        <input type="text" id="login" pInputText [(ngModel)]="pessoa.pes_login" name="login" required />
      </div>
      <div class="p-field">
        <label for="senha">Senha</label>
        <input type="password" id="senha" pInputText [(ngModel)]="pessoa.pes_senha" name="senha" required />
      </div>
      <div class="p-field">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" pInputText [(ngModel)]="pessoa.pes_cpf" name="cpf" required />
      </div>
      <div class="p-field">
        <label for="email">Email</label>
        <input type="email" id="email" pInputText [(ngModel)]="pessoa.pes_email" name="email" required />
      </div>
      <div class="p-formgrid p-grid">
        <div class="p-field-checkbox p-col-12 p-md-6" style="margin-top: 10px;">
          <p-checkbox [binary]="true" [(ngModel)]="pessoa.pes_ativo" name="ativo"></p-checkbox>
          <label for="ativo">Ativo</label>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="dataNascimento">Data de Nascimento</label>
          <p-calendar [(ngModel)]="pessoa.pes_data_nascimento" name="dataNascimento" [style]="{maxWidth: '250px'}" [showIcon]="true"></p-calendar>
        </div>
      </div>      
    </div>
    <p-footer>
      <button style="margin-top: 10px;" type="button" pButton label="Salvar" icon="pi pi-check" (click)="salvar()"></button>
    </p-footer>
  </form>
</p-dialog>

<p-dialog header="Confirmação de Exclusão" [(visible)]="displayConfirmation" [modal]="true" [style]="{width: '50vw'}">
  <p>Tem certeza que deseja excluir este registro?</p>
  <p-footer>
    <button type="button" pButton label="Sim" (click)="excluir()" class="p-button-danger"></button>
    <button type="button" pButton label="Não" (click)="displayConfirmation=false" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
