<div style="margin-top: 20px;"></div>
<p-fieldset icon="pi pi-pencil" legend="Gerenciamento de Pessoas">

  <div class="grid">
    <div class="col-12">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input htmlFor="Nome" type="text" (keydown.enter)="listarPessoas()" pInputText [(ngModel)]="fil_nome" />
      </span>
    </div>
  </div>

  <div class="grid">
    <div class="col-12 flex justify-content-end">
      <button pButton type="button" label="Adicionar Pessoa" icon="pi pi-plus" (click)="abrirModal()"></button>
    </div>
  </div>

  <div class="card">
    <p-table [value]="pessoas" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Ativo</th>
          <th>Data de Nascimento</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pessoa>
        <tr>
          <td>{{ pessoa.pes_codigo }}</td>
          <td>{{ pessoa.pes_nome }}</td>
          <td>{{ pessoa.pes_cpf }}</td>
          <td>{{ pessoa.pes_email }}</td>
          <td>{{ pessoa.pes_ativo ? 'Sim' : 'Não'}}</td>
          <td>{{ pessoa.pes_data_nascimento | date:'dd/MM/yyyy'}}</td>
          <td>
            <button pButton type="button" icon="pi pi-pencil" label="Editar"
              class="p-button-rounded p-button-success p-mr-3" (click)="editar(pessoa.pes_codigo)"></button>
            <button pButton type="button" icon="pi pi-trash" label="Excluir" class="p-button-rounded p-button-danger"
              (click)="excluir(pessoa.pes_codigo)"></button>
          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="empty">
        <tr>
          <td colspan="6">Nenhum registro encontrado</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-fieldset>

<p-dialog header="Incluir/Alterar Pessoa" [(visible)]="displayModal" [modal]="true" [responsive]="true"
  [style]="{width: '50vw'}">
  <form #pessoaForm="ngForm">
    <div class="p-fluid">
      <div class="p-field">
        <label for="nome">Nome</label>
        <input type="text" id="nome" pInputText [(ngModel)]="pessoa.pes_nome" name="nome" required />
      </div>
      <div class="p-field">
        <label for="login">Login</label>
        <input type="text" id="login" pInputText [(ngModel)]="pessoa.pes_login" name="login" required />
      </div>
      <div class="p-field">
        <label for="senha">Senha</label>
        <input type="password" id="senha" pInputText [(ngModel)]="pessoa.pes_senha" name="senha" required />
      </div>
      <div class="p-field">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" pInputText [(ngModel)]="pessoa.pes_cpf" name="cpf" required />
      </div>
      <div class="p-field">
        <label for="email">Email</label>
        <input type="email" id="email" pInputText [(ngModel)]="pessoa.pes_email" name="email" required />
      </div>
      <div class="p-field-checkbox">
        <p-checkbox [binary]="true" [(ngModel)]="pessoa.pes_ativo" name="ativo"></p-checkbox>
        <label for="ativo">Ativo</label>
      </div>
      <div class="p-field">
        <label for="dataNascimento">Data de Nascimento</label>
        <p-calendar [(ngModel)]="pessoa.pes_data_nascimento" name="dataNascimento" [showIcon]="true"></p-calendar>
      </div>
    </div>
    <p-footer>
      <button type="button" pButton label="Salvar" icon="pi pi-check" (click)="salvar()"></button>
    </p-footer>
  </form>
</p-dialog>