<div style="margin-top: 20px;"></div>
<p-fieldset icon="pi pi-pencil" legend="Gerenciamento de Pessoas">
  
  <div class="grid">
    <div class="field col-12 md:col-2">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input placeholder="Nome" type="text" pInputText [(ngModel)]="fil_nome" />
      </span>
    </div>
    <div class="field col-12 md:col-2">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input placeholder="Cpf/Cnpj" type="text" pInputText [(ngModel)]="fil_cpf" />
      </span>
    </div>
    <div class="field col-12 md:col-8" style="margin-top: 10px; text-align: right">
      <p-button severity="secondary" icon="pi pi-search" label="Buscar Registros" (click)="listarPessoas()"></p-button>
    </div>
  </div>

  <div class="grid">
    <div class="col-12 flex justify-content-end">
      <button pButton type="button" label="Adicionar Pessoa" icon="pi pi-plus" (click)="abrirModal()"></button>
    </div>
  </div>

  <div class="card">
    <div *ngIf="loading" class="p-d-flex p-jc-center p-ai-center" style="text-align: center;">
      <p-progressSpinner></p-progressSpinner>
    </div>    
    <p-table *ngIf="!loading" [value]="pessoas" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Ativo</th>
          <th>Data de Nascimento</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pessoa>
        <tr>
          <td style="width: 10%;">{{ pessoa.pes_codigo }}</td>
          <td style="width: 20%;">{{ pessoa.pes_nome }}</td>
          <td style="width: 15%;">{{ pessoa.pes_cpf }}</td>
          <td style="width: 15%;">{{ pessoa.pes_email }}</td>
          <td style="width: 10%;">{{ pessoa.pes_ativo ? 'Sim' : 'Não'}}</td>
          <td style="width: 10%;">{{ pessoa.pes_data_nascimento | date:'dd/MM/yyyy'}}</td>
          <td style="width: 20%;">
            <button pButton type="button" icon="pi pi-pencil" label="Editar" class="p-button-rounded p-button-success p-mr-3" (click)="editar(pessoa.pes_codigo)"></button>
            <button pButton style="margin-left: 10px;" type="button" icon="pi pi-trash" label="Excluir" class="p-button-rounded p-button-danger" (click)="confirmarExclusao(pessoa.pes_codigo)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-fieldset>

<p-dialog header="Incluir/Alterar Pessoa" [(visible)]="displayModal" [modal]="true" [responsive]="true"
  [style]="{width: '50vw'}">
    <div class="p-fluid">
      <div class="grid">
        <div class="field col-12 md:col-4">
          <label for="nome">Nome</label>
          <input type="text" id="nome" pInputText [(ngModel)]="pessoa.pes_nome" name="nome" />
        </div>
        <div class="field col-12 md:col-4">
          <label for="cpf">CPF</label>
          <input type="text" id="cpf" pInputText [(ngModel)]="pessoa.pes_cpf" name="cpf" />
        </div>
        <div class="field col-12 md:col-4">
          <label for="dataNascimento">Data de Nascimento</label>
          <input type="text" pInputText [(ngModel)]="pessoa.pes_data_nascimento" (keyup)="dataMuda($event)" pattern="\d{2}/\d{2}/\d{4}" placeholder="dd/mm/yyyy" />
        </div>
      </div>
      <div class="grid">
        <div class="field col-12 md:col-4">
          <label for="email">Email</label>
          <input type="email" id="email" pInputText [(ngModel)]="pessoa.pes_email" name="email" />
        </div>
        <div class="field col-12 md:col-4">
          <label for="login">Login</label>
          <input type="text" id="login" pInputText [(ngModel)]="pessoa.pes_login" name="login" />
        </div>
        <div class="field col-12 md:col-4">
          <label for="senha">Senha</label>
          <input type="password" id="senha" pInputText [(ngModel)]="pessoa.pes_senha" name="senha" />
        </div>
      </div>
    </div>
    <p-footer>
      <button type="button" pButton label="Salvar" icon="pi pi-check" (click)="salvar()"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Confirmação de Exclusão" [(visible)]="displayConfirmation" [modal]="true" [style]="{width: '50vw'}">
  <p>Tem certeza que deseja excluir este registro?</p>
  <p-footer>
    <button type="button" pButton label="Sim" (click)="excluir()" class="p-button-danger"></button>
    <button type="button" pButton label="Não" (click)="displayConfirmation=false" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
