<div class="container">
  <div class="header">
    <h1>Listagem de Pessoas</h1>
  </div>
  <app-fin-pessoa></app-fin-pessoa>
  <div class="card">
    <p-table [value]="pessoas" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Ativo</th>
                <th>Data de Nascimento</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
            <tr>
                <td>{{ pessoa.pes_codigo }}</td>
                <td>{{ pessoa.pes_nome }}</td>
                <td>{{ pessoa.pes_cpf }}</td>
                <td>{{ pessoa.pes_email }}</td>
                <td>{{pessoa.pes_ativo ? 'Sim' : 'Não'}}</td>
                <td>{{pessoa.pes_data_nascimento | date:'dd/MM/yyyy'}}</td>
            </tr>
        </ng-template>
    </p-table>
  </div>
</div>



