<div class="header">
    <h1>Movimentações</h1>
</div>

<div class="flex flex-wrap gap-3">
  <div class="flex align-items-center">
      <p-radioButton value=0 [(ngModel)]="filtro_mov_tipo" inputId="mov-tipo-todos"></p-radioButton>
      <label class="ml-2">Todas</label>
  </div>

  <div class="flex align-items-center">
      <p-radioButton value=1 [(ngModel)]="filtro_mov_tipo" inputId="mov-tipo-despesas"></p-radioButton>
      <label class="ml-2">Despesas</label>
  </div>

  <div class="flex align-items-center">
      <p-radioButton value=2 [(ngModel)]="filtro_mov_tipo" inputId="mov-tipo-receitas"></p-radioButton>
      <label class="ml-2">Receitas</label>
  </div>
</div>

<div style="margin-bottom: 10px;">
    <button pButton type="button" label="Adicionar Movimento" icon="pi pi-plus" (click)="abrirModal()"></button>
</div>
<div class="card">
    <p-table [value]="movimentacao" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Sigla</th>
          <th>Data</th>
          <th>Tipo</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-movimentacao>
        <tr>
          <td>{{ movimentacao.mov_codigo }}</td>
          <td>{{ movimentacao.mov_valor }}</td>
          <td>{{ movimentacao.mov_data }}</td>
          <td>{{ movimentacao.mov_tipo == 0 ? 'Despesa' : 'Receita' }}</td>
          <td>
            <button pButton type="button" icon="pi pi-pencil" label="Editar" class="p-button-rounded p-button-success p-mr-3" (click)="editar(movimentacao.cat_codigo)"></button>
            <button pButton type="button" icon="pi pi-trash" label="Excluir" class="p-button-rounded p-button-danger" (click)="excluir(movimentacao.mov_codigo)"></button>
          </td>
  
        </tr>
      </ng-template>
      <ng-template pTemplate="empty">
        <tr>
          <td colspan="6">Nenhum registro encontrado</td>
        </tr>
      </ng-template>
    </p-table>
  </div>