<div style="margin-top: 20px;"></div>
<p-fieldset legend="Gerenciamento de Movimentações">
  <div style="margin-top: 10px;"></div>
 
  <div class="grid">
    <div class="field col-12 md:col-2" style="margin-top: 28px;">
      <p-button icon="pi pi-print" label="Imprimir Movimentos" (click)="imprimirMovimentacoes()"></p-button>
    </div>
    <div class="field col-12 md:col-2">
        <label style="margin-right: 3px;" for="firstname6">Data Inicial</label>
        <p-calendar [(ngModel)]="fitro_data_inicial" [showIcon]="true"></p-calendar>
    </div>
    <div class="field col-12 md:col-2">
        <label style="margin-right: 3px;" for="lastname6">Data Final</label>
        <p-calendar [(ngModel)]="filtro_data_final" [showIcon]="true"></p-calendar>
    </div>
    <div class="field col-12 md:col-2">
      <label for="firstname6">Categoria</label>
      <div class="d-flex flex-column align-items-start">
        <p-dropdown [options]="filtro_categorias" [(ngModel)]="filtro_categoria_selecionada" optionLabel="label" [style]="{'width':'250px'}"></p-dropdown>
      </div>
    </div>
   <div class="field col-12 md:col-2" style="margin-top: 35px;">
      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton value=9999 [(ngModel)]="filtro_mov_tipo"></p-radioButton>
          <label class="ml-2">Todas</label>
        </div>
    
        <div class="flex align-items-center">
          <p-radioButton value=0 [(ngModel)]="filtro_mov_tipo"></p-radioButton>
          <label class="ml-2">Despesas</label>
        </div>
    
        <div class="flex align-items-center">
          <p-radioButton value=1 [(ngModel)]="filtro_mov_tipo"></p-radioButton>
          <label class="ml-2">Receitas</label>
        </div>
      </div>
    </div>
    <div class="field col-12 md:col-2" style="margin-top: 28px; text-align: right">
      <p-button severity="secondary" icon="pi pi-search" label="Buscar Registros" (click)="listarMovimentacoes()"></p-button>
    </div>
  </div>

  <div class="grid">
    <div class="col-12 flex justify-content-end">
      <button pButton type="button" label="Adicionar Movimento" icon="pi pi-plus" (click)="abrirModal()"></button>
    </div>
  </div>

  <div class="card">
    <div *ngIf="loading" class="p-d-flex p-jc-center p-ai-center" style="text-align: center;">
      <p-progressSpinner></p-progressSpinner>
    </div>  
    <p-table *ngIf="!loading" [value]="movimentacoes" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5%;">Código</th>
          <th style="width: 15%;">Categoria</th>
          <th style="width: 15%;">Conta Bancária</th>
          <th style="width: 10%;">Data</th>
          <th style="width: 10%;">Tipo</th>
          <th style="width: 10%;">Valor</th>
          <th style="width: 15%;">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-movimentacao>
        <tr>
          <td>{{ movimentacao.mov_codigo }}</td>
          <td>{{ movimentacao.fin_Categoria.cat_sigla }}</td>
          <td>{{ movimentacao.fin_contaBancaria.cba_descricao }}</td>
          <td>{{ movimentacao.mov_data | date:'dd/MM/yyyy'}}</td>
          <td>{{ movimentacao.mov_tipo == 0 ? 'Despesa' : 'Receita' }}</td>
          <td>{{ movimentacao.mov_valor | number:'1.2-2'}}</td>
          <td>
            <button pButton type="button" icon="pi pi-pencil" label="Editar" class="p-button-rounded p-button-success p-mr-3" (click)="editar(movimentacao.mov_codigo)"></button>
            <button pButton style="margin-left: 10px;" type="button" icon="pi pi-trash" label="Excluir" class="p-button-rounded p-button-danger" (click)="confirmarExclusao(movimentacao.mov_codigo)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-fieldset>

<p-dialog header="Incluir/Alterar Movimentação" [(visible)]="displayModal" [modal]="true" [responsive]="true" [style]="{ width: '50vw' }">
  <div class="formgrid grid">
    <div class="field col-12 md:col-4">
      <label for="mov_valor">Valor</label>
      <div class="flex flex-col">
        <p-inputNumber [(ngModel)]="movimentacao.mov_valor" id="mov_valor" [minFractionDigits]="2"></p-inputNumber>
      </div>
    </div>

    <div class="field col-12 md:col-4">
      <label for="mov_tipo">Tipo</label>
      <div class="flex flex-col">
        <p-dropdown [options]="mov_tipos" [(ngModel)]="movimentacao.mov_tipo" optionLabel="label" placeholder="Selecione um tipo" [style]="{ 'width': '250px' }"></p-dropdown>
      </div>
    </div>

    <div class="field col-12 md:col-4">
      <label for="mov_data">Data Lançamento</label>
      <div class="flex flex-col">
        <p-calendar [(ngModel)]="movimentacao.mov_data" [showIcon]="true"></p-calendar>
      </div>
    </div>
    <!-- <div class="field col-12 md:col-6">
      <label for="cat_codigo">Categoria</label>
      <div class="d-flex flex-column align-items-start">
        <p-dropdown [options]="categorias" [(ngModel)]="movimentacao.cat_codigo" optionLabel="label" [style]="{'width':'250px'}"></p-dropdown>
      </div>
    </div> -->

    <div class="field col-12 md:col-6">
      <label for="cba_codigo">Conta Bancária</label>
      <div class="d-flex flex-column align-items-start">
        <p-dropdown [options]="outroscampos" [(ngModel)]="movimentacao.cba_codigo" optionLabel="label" [style]="{'width':'250px'}"></p-dropdown>
      </div>
    </div>
    <div class="field col-12">
      <label for="address">Observação</label>
      <textarea id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
  </div>
  </div>
  <p-footer>
    <button style="margin-top: 10px;" type="button" pButton label="Salvar" icon="pi pi-check" (click)="salvar()"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Confirmação de Exclusão" [(visible)]="displayConfirmation" [modal]="true" [style]="{width: '50vw'}">
  <p>Tem certeza que deseja excluir este registro?</p>
  <p-footer>
    <button type="button" pButton label="Sim" (click)="excluir()" class="p-button-danger"></button>
    <button type="button" pButton label="Não" (click)="displayConfirmation=false" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Aguarde, gerando relatório..." [(visible)]="displayRelatorio" [modal]="true" [closable]="false" [style]="{width: '340px'}">
  <div class="p-text-center" style="text-align: center;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</p-dialog>
