<div style="margin-top: 20px;"></div>
<p-fieldset legend="Acesso Rápido">
  <div class="grid">
    <div class="col-4">
      <button class="p-button p-component w-full h-full" routerLink="/fin-pessoa">
        <i class="pi pi-users"></i>
        <span class="p-button-label p-c">Pessoas</span>
      </button>
    </div>
    <div class="col-4">
      <button class="p-button p-component w-full h-full" routerLink="/fin-categoria">
        <i class="pi pi-check"></i>
        <span class="p-button-label p-c">Categorias</span>
      </button>
    </div>
    <div class="col-4">
      <button class="p-button p-component w-full h-full" routerLink="/fin-movimentacao">
        <i class="pi pi-wallet"></i>
        <span class="p-button-label p-c">Movimentações</span>
      </button>
    </div>
  </div>
  <div class="grid">
    <div class="col-4">
      <button class="p-button p-component w-full h-full">
        <i class="pi pi-money-bill"></i>
        <span class="p-button-label p-c">Bancos</span>
      </button>
    </div>
    <div class="col-4">
      <button class="p-button p-component w-full h-full">
        <i class="pi pi-calculator"></i>
        <span class="p-button-label p-c">Contas Bancárias</span>
      </button>
    </div>
    <div class="col-4">
      <button class="p-button p-component w-full h-full">
        <i class="pi pi-calendar-times"></i>
        <span class="p-button-label p-c">Agenda</span>
      </button>
    </div>
  </div>
</p-fieldset>
<div style="margin-top: 20px;"></div>
<p-fieldset legend="Dados Estatísticos">
  <div class="grid">
    <div class="col-6">
      <app-fin-home-grafico-periodo></app-fin-home-grafico-periodo>
    </div>
    <div class="col-6">
      <app-fin-home-grafico-anual></app-fin-home-grafico-anual>
    </div>
  </div>
</p-fieldset>