<p-sidebar [(visible)]="sidebarVisible" position="left">    
    <h3>Menus</h3>
    <div>
        <p-button id="button-sidebar" label="Primary" icon="pi pi-user" label="Pessoas" (click)="navigate('fin-pessoa')" [raised]="true"></p-button>
    </div>
    <div>
        <p-button id="button-sidebar" label="Primary" icon="pi pi-list" label="Categorias" (click)="navigate('fin-categoria')" [raised]="true"></p-button>
    </div>
    <div>
        <p-button id="button-sidebar" label="Primary" icon="pi pi-money-bill" label="Movimentações" (click)="navigate('fin-movimentacao')" [raised]="true"></p-button>
    </div>
</p-sidebar>